
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #f2f4f8;
  color: #333;
  transition: 0.4s ease;
}

header {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  color: white;
  padding: 30px;
  text-align: center;
}

header button {
  margin-top: 15px;
  background: white;
  color: #333;
}


main {
  max-width: 900px;
  margin: 30px auto;
  padding: 10px;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

h2 {
  margin-bottom: 10px;
}


button {
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background: #4facfe;
  color: white;
  transition: 0.3s;
}

button:hover {
  opacity: 0.85;
}


input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}


.todo-box {
  display: flex;
  gap: 10px;
}

#taskList li {
  background: #eef1f6;
  padding: 8px;
  margin-top: 6px;
  border-radius: 6px;
  cursor: pointer;
}

#taskList li:hover {
  background: #dbe3f0;
}


footer {
  text-align: center;
  padding: 15px;
  color: #666;
}

.dark-mode {
  background: #121212;
  color: white;
}

.dark-mode .card {
  background: #1e1e1e;
}

.dark-mode input,
.dark-mode textarea {
  background: #333;
  color: white;
  border: 1px solid #555;
}

.dark-mode #taskList li {
  background: #333;
}
/* ===== Profile Section ===== */
.profile {
  background: white;
  margin: 30px auto;
  padding: 25px;
  max-width: 350px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 4px solid #4facfe;
}

.profile h2 {
  margin-bottom: 5px;
}

.role {
  color: #555;
  font-size: 14px;
  margin-bottom: 15px;
}

.profile-info span {
  display: block;
  background: #f2f4f8;
  margin: 6px 0;
  padding: 6px;
  border-radius: 8px;
  font-size: 14px;
}


.dark-mode .profile {
  background: #1e1e1e;
}

.dark-mode .profile-info span {
  background: #333;
}
